/* Coolors Exported Palette - https://coolors.co/e5cbb6-c4a58a-a78f7d-4c638c-453b32 */

/* CSS HEX */
--desert-sand: #E5CBB6ff;
--tan: #C4A58Aff;
--beaver: #A78F7Dff;
--lapis-lazuli: #4C638Cff;
--taupe: #453B32ff;

/* CSS HSL */
--desert-sand: hsla(27, 47%, 81%, 1);
--tan: hsla(28, 33%, 65%, 1);
--beaver: hsla(26, 19%, 57%, 1);
--lapis-lazuli: hsla(218, 30%, 42%, 1);
--taupe: hsla(28, 16%, 23%, 1);

/* SCSS HEX */
$desert-sand: #E5CBB6ff;
$tan: #C4A58Aff;
$beaver: #A78F7Dff;
$lapis-lazuli: #4C638Cff;
$taupe: #453B32ff;

/* SCSS HSL */
$desert-sand: hsla(27, 47%, 81%, 1);
$tan: hsla(28, 33%, 65%, 1);
$beaver: hsla(26, 19%, 57%, 1);
$lapis-lazuli: hsla(218, 30%, 42%, 1);
$taupe: hsla(28, 16%, 23%, 1);

/* SCSS RGB */
$desert-sand: rgba(229, 203, 182, 1);
$tan: rgba(196, 165, 138, 1);
$beaver: rgba(167, 143, 125, 1);
$lapis-lazuli: rgba(76, 99, 140, 1);
$taupe: rgba(69, 59, 50, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #E5CBB6ff, #C4A58Aff, #A78F7Dff, #4C638Cff, #453B32ff);
$gradient-right: linear-gradient(90deg, #E5CBB6ff, #C4A58Aff, #A78F7Dff, #4C638Cff, #453B32ff);
$gradient-bottom: linear-gradient(180deg, #E5CBB6ff, #C4A58Aff, #A78F7Dff, #4C638Cff, #453B32ff);
$gradient-left: linear-gradient(270deg, #E5CBB6ff, #C4A58Aff, #A78F7Dff, #4C638Cff, #453B32ff);
$gradient-top-right: linear-gradient(45deg, #E5CBB6ff, #C4A58Aff, #A78F7Dff, #4C638Cff, #453B32ff);
$gradient-bottom-right: linear-gradient(135deg, #E5CBB6ff, #C4A58Aff, #A78F7Dff, #4C638Cff, #453B32ff);
$gradient-top-left: linear-gradient(225deg, #E5CBB6ff, #C4A58Aff, #A78F7Dff, #4C638Cff, #453B32ff);
$gradient-bottom-left: linear-gradient(315deg, #E5CBB6ff, #C4A58Aff, #A78F7Dff, #4C638Cff, #453B32ff);
$gradient-radial: radial-gradient(#E5CBB6ff, #C4A58Aff, #A78F7Dff, #4C638Cff, #453B32ff);